* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/img/back.jpg);
    background-size: cover;
    width: 100dvw;
    height: 100dvh;
    font-family: 'Open Sans', 'sans-serif';
}

main {
    display: flex;
    flex-direction: column;
}

.title {
    color: #ffcc00;
    margin: 10vh auto;
    font-size: calc(5vw + 20px);
    text-shadow: 0 0 10px black,
        0 0 10px black,
        0 0 10px black;

}

.container {
    width: 90dvw;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.key {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    font-size: calc(3vw + 20px);
    border: 3px solid white;
    user-select: none;
    cursor: pointer;
    transition: transform .2s;
}

.active {
    transform: scale(1.3);
    border-color: #ffcc00;
    box-shadow: 0 0 50px #ffcc00;
}